.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
analysis/01.fastq_processing/snakemake/*.fna*
analysis/01.fastq_processing/*.eigen*
analysis/01.fastq_processing/*ld25-10-*
analysis/02.5.delineate_ESUs/BANS_breeding*
analysis/02.5.delineate_ESUs/*.eigen*
analysis/02.5.delineate_ESUs/*.Q
analysis/03.GEA/pop_struc/*.eigen*
analysis/03.GEA/pop_struc/
analysis/03.GEA/results/
analysis/04.delineate_AUs/results/
analysis/05.predictors_of_decline/results/
analysis/05.predictors_of_decline/spatial_predictors/
analysis/05.predictors_of_decline/spatial_predictors_data*
analysis/06.genomic_offset/results/
analysis/06.genomic_offset/*.RData
